<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<article>
			<h2>This heading will be selected</h2>
			<div>
			  <h2>This heading will be selected</h2>
			</div>
		  </article>
		  <article>
			<h2>This heading will be selected</h2>
			<div>
			  <h2>This heading will be selected</h2>
			</div>
		  </article>
		  <article>
			<h2>This heading will be selected</h2>
			<div>
			  <h2>This heading will be selected</h2>
			</div>
		  </article>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
