/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img{
  display: flexbox;
  margin: 0 auto;
  height: 200px;
  align-self: flex-start;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
