img {
    width: 30%;
    height: 20%;
    margin: calc(5%/6);
}
.material-symbols-outlined {
  font-variation-settings:
'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  appearance: none;
  border: none;
  margin: 20px;
}

section{
   padding: 2.5%;
}

nav{
    border-bottom: 2px black solid;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding: 10px 0;
    width: 100%;
    margin-left: calc(5%/6);
    
}

#pet-select{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    overflow: hidden;
    appearance: none;
    
}

.material-symbols-outlined:hover{
    background-color: #84B082;
    border: none;
  
}

label{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 30px;
}