*{
    box-sizing: border-box;
}

header, footer {
    border: 1px solid black;
    height: 100px;
    clear: both;
}

section {
    border: 1px solid black;
    float: left;
    width: 33.33%;
    height: 200px;
}
.lo {
    border: 1px solid black;
    float: right;
    width: 50%;
    height: 200px;
}