* {
    box-sizing: border-box;
}


header, footer {

    background: green;
    height: 200px;
    width: 100%;
    border: 3px solid blue;
    clear: both;
    
}

section {
    height: 200px;
    width: 33.3333%;
    background: blue;
    border: 3px solid black;
    float: left;
}

@media screen and (max-width: 600px) {
    section {
        background: red;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    section{
        background: black;
        border: 3px solid red;
    }

} 

@media (min-width: 901px) and (max-width: 1200px) {
    header {
        background: orange;
        border: 3px red solid;
    }
}