/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  margin-top: 20%;
}
h1, h2, form{
  text-align: center; 
}
button{
  display: block;
  margin: 20px auto;
}
h2{
  font-size: 100px;
  color: red;
  font-weight: bold;
}
body {
  background-image: url('../img/therm.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
