* {
    box-sizing: border-box;
}


header, footer {
    background: green;
    border: 5px solid red;
    height: 200px;
    clear: both;
}

section {
    background: blue;
    border: 3px solid orange;
    height: 200px; 
    
}


.row2 {
    background: crimson;
    height: 400px;
    width: 40%;
    border: 5px solid yellow;
    float: left;
}

.box2 {
    background: purple;
    height: 400px;
    width: 60%;
    border: 5px solid black;
    float: right;
}
