* {
    box-sizing: border-box;
}


header, footer {
    
    border: 5px solid red;
    height: 200px;
    clear: both;
}

.row1, .row3, .row4 {
    border: 3px solid orange;
    height: 600px;
    width: 20%;
    float: left;
    
}


.row2 {
    border: 3px solid gold;
    width: 40%;
    height: 600px;
    float: left;
    
}

@media screen and (max-width: 600px) {
    section{
        background: green;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    section {
        background: blue;
        width: 33.3333%;
    }
    .row2 {
        display: none;
        
    }
}