* {
    box-sizing: border-box;
}


header, footer {
    background: green;
    border: 5px solid red;
    height: 200px;
    clear: both;
}

.row1 {
    background: blue;
    border: 3px solid orange;
    height: 600px;
    width: 20%;
    float: left;
    
}

.row2 {
    background: white;
    border: 3px solid black;
    width: 40%;
    height: 600px;
    float: left;
}

.row3 {
    background: purple;
    border: 3px solid gold;
    width: 20%;
    height: 600px;
    float: right;
    
}

.row4 {
    background: aqua;
    border: 3px solid gold;
    width: 20%;
    height: 600px;
    float: right;
}
