*{
    box-sizing: border-box;
}

header, footer {
    border: 1px solid black;
    height: 200px;
    clear: both;
}

.row1 , .row4 {
    border: 1px solid black;
    height: 600px;
    width: 20%;
    float: left;
}
.row2 {
    border: 1px solid black;
    height: 600px;
    width: 40%;
    float: left;
}
.row3 {
    border: 1px solid black;
    height: 600px;
    width: 20%;
    float: left;
}
@media screen and (max-width: 600px){

     section{
        background-color: green;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    section{
        background-color: blue;
        width: 33.33333%;
    }
    .row1 {
        display: none;
    }
}