/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/

nav > *{
  float: left;
  width: 10%;
  margin: 0 5%;
  list-style: none;
}
nav li {
  float: left;
  width: 33%;
  color: blue;
}
main section {
  float: left;
  width: 50%;
}
img {
  margin-left: 50%;
  margin-top: 5%;
}
.main {
  float: left;
  margin-top: 5%;
  font-size: xx-large;
  
}
.main p {
  font-size: large;
}
.links li {
  float: left;
  width: 25%;
  font-size: medium;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

a {
  color: inherit;
  text-decoration: none;
}
.links li {
  list-style: none;
}
button {
  background-color: rgb(33, 105, 199); 
  color: white;
  padding: 10%;
  border: none;
}