div{
    border: 5px #7698B3 solid;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    background-color: #673C4F;
}
section{
    border: 10px #726E97 solid;
    height: 50%;
    width: 25%;
    background-color:  #83B5D1;
}

h1{
    background-color: #7F557D;
}

