#image{
    display: block;
    max-width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
}
body {
    text-align: center;
    background-color: rgb(238, 235, 235);
}

ul{
    list-style-position: inside;
    text-align: left;
    display: flex;
}
#img-div{
    background-color: white;
}





