body{
    background-color: lightcyan;
}
.form-input{
    border:20px, solid, lightcoral;
}

input{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}

label{
    display: flex;
    justify-content: last baseline;
    font-weight: 500;
    font-style: oblique;
    
}

form{
    padding-left: 50%;
    border: 2px solid lightgray;
}
h1{
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}


