body{
    background-color: lightcyan;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}
.form-input{
    border:20px, solid, lightcoral;
}

input{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}

label{
    display: flex;
    justify-content: last baseline;
    font-weight: 500;
    font-style: oblique;
    
}

form{
    padding-left: 50%;
    border: 2px solid lightgray;
}
#to-do{
    display: flex;
    
}
h2,h1{
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    font-size: 1.5rem;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

#mealForm{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#mealForm label{
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
