/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 331px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 65px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgb(41, 1, 43);
}
#green{
  background: rgb(11, 73, 31);
}
#blue{
  background: rgb(38, 84, 201);
}
#yellow {
  background-color: rgb(241, 241, 151);
}
#red {
  background-color: rgb(177, 82, 82);
}