/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
.beginning {
    height: 500px;
}
.top li{
    float: left;
    width: 3%;
    list-style: none;
} 
.logo {
    height: 40px;
    float: left;
 }
.pic li {
    
    list-style: none;
    margin-left: 48%;
}
.pic button{
    margin-left: 88%;
}
.big h1{
    clear: both;
    margin-top: 5%;
    text-align: center;  
}
.big p {
    text-align: center;
}
.big img {
    margin-left: 47%;
    margin-top: 1%;
}
.white {
    clear: both;
    text-align: center;
    height: 500px;
}
.white > h1 {
    padding-top: 5%;
}
.lightgray section{
    float: left;
    width: 50%;
}
.lightgray img {
    display: inline-block;
    height: 400px;
    width: 700px;
    margin-left: 25%;
    margin-top: 15%;
}
.lightgray h3{
    text-align: center;
}
.lightgray p{
    text-align: center;
    margin-left: 20%;
    margin-right: 5%;
}
.lightgray button {
    margin-left: 45%;
    padding: 1%;
    margin-bottom: 10%;
}
footer section{
    float: left;
    width: 50%
}
.address {
    height: 248px;
    text-align: center;
}


  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

body {
    background: rgb(131, 152, 175);
}
.top a{
    color: white;
    text-decoration: none;
}
button a {
    color: black;
    text-decoration: none;
}
.pic button{
    background: white;
    border: none;   
}
.pic a{
    color: gray;
    text-decoration: none;
}
.big h1 {
    font-size: 40px;
    text-transform: uppercase; 
}
.big {
    color: white;
}
.white {
    background: white;
}
.white h1 {
    font-size: 40px;
}
.lightgray section{
    background: lightgray;
}
.lightgray button {
    background: lightgray;
}
.lightgray button a{
    color: black;
    text-decoration: none;
}
.white button {
    background: white;
    padding: 1%;
}

footer section {
    background: rgb(0, 0, 48);
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer h6 {
    color: grey;
}